<!DOCTYPE html>
{% extends "firstapp/base.html"%}
{% block body_block %}
<div class="jumbotron" align="center">
 <h1><strong>WELCOME TO RAJU'S ONLINE EXAMS<strong><h1><hr>
  <div id='raju1'><h2>INSTRUCTIONS AND BENEFITS<h2></div>
   <div id="raj"> <strong> <ul>
      <p>EVERY ONE SHOULD WRITE ONLY ONE EXAM IN A DAY</p>
      <p>YOU CAN CHOOSE ANY EXAM,CHOICE IS YOURS !!!</p>
      <p>I HOPE!!! YOU ARE GETTING MORE KNOWLEDGE FORM THIS WEBSITE</p>
      <p>DON'T &nbsp FORGET &nbsp ME&nbsp THIS&nbsp IS&nbsp YOUR&nbsp&nbsp <div id='raju'>RAJU !!!</div></p>
    </ul><strong></div>

</div>

{%endblock%}
