<!DOCTYPE html>
{% extends "firstapp/base.html" %}
{% block body_block %}
<div class="jumbotron" align="center">
  <div class="container">
    <h1>THANK YOU FOR VISITING MY WEBSITE </h1>
    <p> This is RAJU,Are you Enjoying This Website !!!!</p>
    <center><a class="btn btn-primary btn-success btn-lg" href="/accounts/login">LOGIN AGAIN</a><center>
    </div>
    </div>
    <div id="raju2" align="center">
    <marquee><strong>Great things never come from comfort zones !!!!!</strong></marquee>
    <marquee><strong>Push yourself, because no one else is going to do it for you!!!!!</strong></marquee>
    <marquee><strong>Success doesn't just find you. ... !!!!!</strong></marquee>
    <marquee><strong>The harder you work for something, the greater you'll feel when you achieve it. !!!!!</strong></marquee></div>
{% endblock %}
